.gradient-block
	.gradient-block__pattern-street.gradient-block__pattern-street--small
	

	.register-gradient
		.wrapp.text-ta--c 
			h2.register-gradient__title 14 дней на тестирование онлайн-консультанта<br>и десять звонков в подарок
			
			.register-gradient__btn
				a(href="#").btn.btn--orange Регистрация
