form(action="").register-white
	.wrapp
		.input-block.register-white__block
			.register-white__img
		.input-block.register-white__block
			input(type="email" name="email" id="reg-white-email").input-text
			label(for="reg-white-email").input-placeholder E-mail
		.input-block.register-white__block
			input(type="tel" name="phone" id="reg-white-phone").input-text
			label(for="reg-white-phone").input-placeholder Телефон
		.input-block.register-white__block
			input(type="submit" value="Регистрация").btn.btn--orange