.input-text {
	border:2px solid #8f8f8f;
	box-sizing: border-box;
	display: inline-block;
	transition: color 0.3s, background 0.3s;
	width: auto;
	min-width: 370px;
	border-radius: 1.55em;
	-webkit-appearance: none;
	outline:none;
	background-color: transparent;
	color: $color-text--dark;
	font-size: 1em;
	padding: 0.7em 1.4em;
	position: relative;
	z-index: 1;


	&:focus {
		// background-color: $color-text-input--bg-focus;

		& + .input-placeholder {
			transform: translateY(-220%);
			font-size: 0.8rem;
            // font-style: italic;
            color: lighten($color-text, 15%);
		}
	}

    &:disabled {
        // background-color: $color-text-input--bg-disable;
    }

	&.is-good {
		// background-color: $color-text-input--bg-focus;
	}

	&.is-bad {
		// background-color: $color-text-input--bg-bad;
	}
}
