.slider
	.wrapp
		h2 Идеальный дизайн, который Вам понравится
	
		.slider__content.js-mSlide
			.slider__item
				img(src="/img/slide/1.jpg")
				h4.text-fw--b Чат
				.text-fs--i Идеальный дизайн,<br> который Вам понравится
			.slider__item
				img(src="/img/slide/1.jpg")
				h4.text-fw--b Чат2
				.text-fs--i Идеальный дизайн,<br> который Вам понравится
			.slider__item
				img(src="/img/slide/1.jpg")
				h4.text-fw--b Чат3
				.text-fs--i Идеальный дизайн,<br> который Вам понравится
		.slider__arrow.slider__arrow--left.js-mSlide-arrow--left
		.slider__arrow.slider__arrow--right.js-mSlide-arrow--right

		.slider__dots.js-mSlide-dots
