.price-chat-info {

	&__count {
		font-size: 79px;
		line-height: 140px;
		height: 115px;
	}

	&__count-text {
		color: $color-text--dark;
		font-size: 28px;
		font-weight: bold;
		text-transform: lowercase;
	}

	&__line {
		@extend .line;

		display: block;
		width: 190px;
		margin: 31px auto 35px auto;
	}

	&__price {
		color: $color-text--dark;
		font-size: 48px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	&__price-text {
		color: $color-text--dark;
		font-style: italic;
		font-size: 20px;
	}

}