.footer
    .footer__menu
        .wrapp
            .menu.menu--footer
                .menu__block
                    a(href="#").menu__item Главная
                    a(href="#").menu__item Стоимость
                .menu__block
                    a(href="#").menu__item Чат
                    a(href="#").menu__item Звонки
                .menu__block
                    a(href="#").menu__item Помощь
                    a(href="#").menu__item Партнёрская программа
                .menu__block
                    a(href="#").menu__item Примерочная
                    a(href="#").menu__item Полезные советы

            .footer__btn
                a(href="#").btn.btn--blue Предложить свою идею

    .footer__bottom
        .wrapp
            .footer__copyright © 2017 СуперЧат

script(src="js/vendor/jquery-3.1.0.min.js")
script(src="js/vendor/select2.min.js")
script(src="js/vendor/slick.min.js")
script(src="js/main.js")
