.header
    .header__fixed
        .wrapp
            a(href="/").logo
                img(src="../img/logo.png", alt="SuperChat")

            include ../block/menu/_head.jade

            .header-btn
                a(href="#").btn.btn--blue Регистрация
                a(href="#").icon.icon--entry Вход
