.real-func
	.wrapp
		h2.real-func__title Все функции, которые реально нужны
		.real-func__icons
			.real-func__icon.real-func__icon--operators Неограниченное <br>количество операторов
			.real-func__icon.real-func__icon--chat Быстрые <br>фразы
			.real-func__icon.real-func__icon--transfer Передача чата <br>между операторами
			.real-func__icon.real-func__icon--history Полная история <br>диалогов
			.real-func__icon.real-func__icon--more И ещё полезные <br>функций
				a(href="#").btn-more-func
					.btn-more-func__dots

		
		.real-func__btn
			a(href="#").btn.btn--orange Попробовать