.gradient-block.gradient-block--superman
	.gradient-block__pattern-street.gradient-block__pattern-street--small

	.fitting
		.wrapp			
			.superman-img.superman-img--middle
			
			form(action="" method="post").fitting__form
				h2.fitting__title Как будет выглядеть <br>онлайн-консультант на моем сайте?
				.text-fs--i.text-fz--md Заходите в примерочную, сами всё увидите

				.input-block.fitting__input
					input(type="text" id="input-fitting-text").input-text
					label(for="input-fitting-text").input-placeholder Адрес сайта
					.fitting__btn
						input(type="submit" value="Примерить").btn.btn--orange