.superman-big
	.wrapp
		h1.superman-big__title Онлайн-консультант
		h2.superman-big__title.superman-big__title--second Мы победили цены. Не платите за воздух!
		
		.superman-big__img

		.fair-price
			.fair-price__title Честная цена
			.fair-price__text Все функции
			.fair-price__text от <span class="fair-price__price">7</span> <span class="rub">&#8381;</span> за клиента

		ul.superman-big__list
			li Безлимитное число операторов
			li Оплата только за обращения <br>Ваших клиентов

	.superman-big-footer
		.superman-big-footer__wrapp