.gradient-block.gradient-block--small-superman
	.gradient-block__pattern-street

	.plump
		.wrapp.plump__wrapp
			.superman-img.superman-img--small

			a(href="#").plump__title Возможность добавить изюминку
