.features-main
	.wrapp
		.features-main__block
			.left
				h2 История всех диалогов <br>и записи звонков <br>в личном кабинете
				p.text-fs--i.text-fz--md Повысьте качество переговоров!<br> Теперь ваши менеджеры не забудут, о<br> чем переписывались с потенциальным<br> клиентом или говорили по телефону,<br> могут провести работу над ошибками
			.right
				.features-main__img.features-main__img--history
			.clear
		.features-main__block
			.left
				.features-main__img.features-main__img--hot-words
			.right
				h2 Быстрые фразы <br>для ответов
				p.text-fs--i.text-fz--md Ваш бизнес растёт и клиентов<br> становится всё больше? <br>Сэкономьте время операторов благодаря настраиваемым быстрым фразам
			.clear
		.features-main__block
			.left
				h2 Подключение одного оператора <br>к нескольким сайтам
				p.text-fs--i.text-fz--md У Вас много бизнесов и у каждого – свой сайт? Суперчат позволит оператору<br> вести диалоги с нескольких сайтов! Присутствует расширенный<br> функционал - оператора можно назначить на пользователей определенного<br> сайта
			.right
				.features-main__img.features-main__img--add-operator
			.clear