.calls-main
	.wrapp
		h1.text-ta--c Позвольте клиентам<br> позвонить Вам, не раздумывая

		.calls-main__content
			.calls-img.calls-img--user
				h2.calls-img__title Пользователь
				.calls-img__text указывает свой<br> номер телефона
			.calls-img.calls-img--chat
				h2.calls-img__title Суперчат
				.calls-img__text мгновенно<br> звонит менеджеру
			.calls-img.calls-img--manager
				h2.calls-img__title Менеджер
				.calls-img__text отвечает и предоставляет<br> актуальную информацию

		.line