.calls-more
	.calls-more__wrapp
		h2.calls-more__title И ещё множество полезных функций

		.calls-more__block
			.calls-more-spoiler.calls-more-spoiler--design
				a(href="#" data-spoiler="calls-more-1").calls-more-spoiler__title.js-spoiler Настраиваемый дизайн виджета
				.calls-more-spoiler__content(data-show-spoiler="calls-more-1")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--email
				a(href="#" data-spoiler="calls-more-2").calls-more-spoiler__title.js-spoiler Уведомления о пропущенных звонках на почту
				.calls-more-spoiler__content(data-show-spoiler="calls-more-2")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--calendar
				a(href="#" data-spoiler="calls-more-3").calls-more-spoiler__title.js-spoiler Группировка операторов по сменам
				.calls-more-spoiler__content(data-show-spoiler="calls-more-3")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--target
				a(href="#" data-spoiler="calls-more-4").calls-more-spoiler__title.js-spoiler Единая кнопка связи с клиентом
				.calls-more-spoiler__content(data-show-spoiler="calls-more-4")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--analytics
				a(href="#" data-spoiler="calls-more-5").calls-more-spoiler__title.js-spoiler Статистика по звонкам: принятые, пропущенные
				.calls-more-spoiler__content(data-show-spoiler="calls-more-5")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line
		
		.calls-more__btn
			a(href="#").btn.btn--orange Еще больше функций