.calls-round
	.wrapp
		.calls-round__block.calls-round__block--package
			h2 Пакеты не сгорают
			.calls-round__text Неиспользованные звонки <br>не сгорают в конце месяца
		.calls-round__block.calls-round__block--contacts
			h2 Минуты или контакты
			.calls-round__text Выбираете сами, за что<br> вам удобнее оплачивать!

		.line