.calls-settings
	.wrapp
		.left
			h2.calls-setting__title Настройки звонков
			.calls-settings__text.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quod pariatur officiis, cupiditate cumque inventore odio perferendis cum nulla amet voluptate accusantium quis hic at quam nesciunt iste provident temporibus.<br><br>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime obcaecati nostrum ipsum tempora, nisi quam magni voluptatum quia, earum animi sapiente error quae accusantium! Unde beatae soluta eaque quaerat quibusdam.
		.right
			.calls-settings__img
		.clear
.wrapp
	.line