.menu.menu--head
    a.menu__item(href="chat.html") Чат
    a.menu__item(href="calls.html") Звонки
    a.menu__item(href="price.html") Стоимость
    a.menu__item.is-active(href="faq.html") Помощь
    a.menu__item(href="partner.html") Партнёрам 50%

