.wrapp
	h1.text-ta--c Помощь
	
	.faq
		.left
			.faq-menu
				ul
					li.is-active
						a(href="faq.html") Самые частые вопросы
					li
						a(href="#" data-spoiler="faq-menu-1").js-spoiler Установка на сайт
						ul.faq-menu__spoiler(data-show-spoiler="faq-menu-1")
							li
								a(href="#") Где найти код на сайт?
							li.is-active
								a(href="#") Как добавить ещё один сайт
							li
								a(href="#") Как изменить/удалить сайт
					li
						a(href="#" data-spoiler="faq-menu-2").js-spoiler Работа с приложением
						ul.faq-menu__spoiler(data-show-spoiler="faq-menu-2")
							li
								a(href="#") Где найти код на сайт?
							li
								a(href="#") Как добавить ещё один сайт
							li
								a(href="#") Как изменить/удалить сайт
					li
						a(href="#" data-spoiler="faq-menu-3").js-spoiler Настройки внешнего вида
						ul.faq-menu__spoiler(data-show-spoiler="faq-menu-3")
							li
								a(href="#") Где найти код на сайт?
							li
								a(href="#") Как добавить ещё один сайт
							li
								a(href="#") Как изменить/удалить сайт
		.right
			.faq-spoiler
				.faq-spoiler__title.js-spoiler(data-spoiler="faq-1") Как работает онлайн-консультант?
				.faq-spoiler__text.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere amet odio doloribus alias vero soluta. Animi eveniet temporibus optio quae dolores, corporis culpa aspernatur, in voluptates, unde voluptatum non at.
				.faq-spoiler__content(data-show-spoiler="faq-1")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
				.line
			.faq-spoiler
				.faq-spoiler__title.js-spoiler(data-spoiler="faq-2") Как установить онлайн-консультант на мой сайт?
				.faq-spoiler__text.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere amet odio doloribus alias vero soluta. Animi eveniet temporibus optio quae dolores, corporis culpa aspernatur, in voluptates, unde voluptatum non at.
				.faq-spoiler__content(data-show-spoiler="faq-2")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
				.line
			.faq-spoiler
				.faq-spoiler__title.js-spoiler(data-spoiler="faq-3") Не будет ли сервис замедлять работу моего сайта?
				.faq-spoiler__text.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere amet odio doloribus alias vero soluta. Animi eveniet temporibus optio quae dolores, corporis culpa aspernatur, in voluptates, unde voluptatum non at.
				.faq-spoiler__content(data-show-spoiler="faq-3")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
				.line

			.faq-spoiler
				.faq-spoiler__title.js-spoiler(data-spoiler="faq-4") Как работает онлайн-консультант?
				.faq-spoiler__text.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere amet odio doloribus alias vero soluta. Animi eveniet temporibus optio quae dolores, corporis culpa aspernatur, in voluptates, unde voluptatum non at.
				.faq-spoiler__content(data-show-spoiler="faq-4")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
				.line
			.faq-spoiler
				.faq-spoiler__title.js-spoiler(data-spoiler="faq-5") Как установить онлайн-консультант на мой сайт?
				.faq-spoiler__text.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere amet odio doloribus alias vero soluta. Animi eveniet temporibus optio quae dolores, corporis culpa aspernatur, in voluptates, unde voluptatum non at.
				.faq-spoiler__content(data-show-spoiler="faq-5")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
				.line
			.faq-spoiler
				.faq-spoiler__title.js-spoiler(data-spoiler="faq-6") Не будет ли сервис замедлять работу моего сайта?
				.faq-spoiler__text.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere amet odio doloribus alias vero soluta. Animi eveniet temporibus optio quae dolores, corporis culpa aspernatur, in voluptates, unde voluptatum non at.
				.faq-spoiler__content(data-show-spoiler="faq-6")
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis fugiat voluptatibus aliquid ad accusamus quis, qui nostrum culpa! Iure quam accusamus iste ab! Dolor ipsam perspiciatis consectetur recusandae excepturi qui.
				.line
		.clear