.text {
    &-fw--b { font-weight: bold; }
    &-fw--n { font-weight: normal; }

    &-fs--i { font-style: italic; }
    &-fs--n { font-style: normal; }

    &-ta--c { text-align: center; }
    &-ta--r { text-align: right; }
    &-ta--l { text-align: left; }

    // &-fz--xs    { font-size: $font-size--xs; }
    // &-fz--sm    { font-size: $font-size--sm; }
    // &-fz--md    { font-size: $font-size--md; }
    // &-fz--lg    { font-size: $font-size--lg; }
    // &-fz--x-lg  { font-size: $font-size--x-lg; }
    // &-fz--xl    { font-size: $font-size--xl; }

    &-td--n {text-decoration: none;}
    &-td--u {text-decoration: underline;}
}
