<!DOCTYPE html>
html(lang="ru")
	head
		title Звонки
		include ./include/_head.jade
	body
		.wrapp-main
			include ./include/_header.jade
			
			include ./block/calls/_main-header.jade
			include ./block/calls/_round.jade
			include ./block/calls/_settings.jade
			include ./block/calls/_more.jade
			
			include ./block/register/_gradient.jade
			include ./block/_pay.jade

			.footer-clear
		include ./include/_footer.jade
