<!DOCTYPE html>
html(lang="ru")
	head
		title Чат
		include ./include/_head.jade
	body
		.wrapp-main
			include ./include/_header.jade
			
			include ./block/chat/_main-header.jade
			include ./block/chat/_more.jade
			
			include ./block/register/_gradient.jade
			include ./block/_pay.jade

			.footer-clear
		include ./include/_footer.jade
