<!DOCTYPE html>
html(lang="ru")
	head
		title Помощь
		include ./include/_head.jade
	body
		.wrapp-main
			include ./include/_header.jade
			
			include ./block/faq/_main-header.jade

			.footer-clear
		include ./include/_footer.jade
