<!DOCTYPE html>
html(lang="ru")
    head
        title SuperChat
        include ./include/_head.jade
    body
        .wrapp-main
            include ./include/_header.jade
            
            include ./block/superman/_main.jade
            include ./block/functions/_real.jade
            include ./block/slider/_main.jade
            include ./block/superman/_fitting.jade            
            include ./block/features/_main.jade
            include ./block/superman/_plum.jade
            include ./block/register/_main.jade
            
            .footer-clear
        include ./include/_footer.jade
