<!DOCTYPE html>
html(lang="ru")
    head
        title SuperChat
        include ./include/_head.jade
    body
        .wrapp-main
            include ./include/_header.jade

            .footer-clear

        include ./include/_footer.jade
