<!DOCTYPE html>
html(lang="ru")
	head
		title Партнёрка
		include ./include/_head.jade
	body
		.wrapp-main
			include ./include/_header.jade
			
			
			include ./block/register/_gradient.jade
			include ./block/_pay.jade

			.footer-clear
		include ./include/_footer.jade
