.chat-main
	.wrapp
		h1 Повышайте продажи вместе<br> с онлайн-консультантом
		
		.chat-main__block
			.left
				img(src="/img/chat/dialog.jpg", alt="")
			.right
				h2 Настраиваемый дизайн
				.chat-main__text.text-fs--i
					p.
						Вы можете разместить фото оператора, 
						настроить цвет поля, цвет собщений и текста на них
						в фирменных цветах Вашего сайта.

					p.
						Также можно оставить настройки по умолчанию,
						наш дружелюбный и ненавязчивый интерфес располагает 
						начать общение

				.chat-main__btn
					a(href="#").btn.btn--orange Регистрация
			.clear

		
		.chat-soft
			.line
			.chat-soft__title Удобный пульт оператора
			.chat-soft__content
				a(href="#").chat-soft__item.chat-soft__item--windows
				a(href="#").chat-soft__item.chat-soft__item--mac
				a(href="#").chat-soft__item.chat-soft__item--android
				a(href="#").chat-soft__item.chat-soft__item--ios

		.line

		.chat-features

			.chat-features__block
				.left
					img(src="/img/chat/hello.jpg", alt="")
					
				.right
					h2 Уже настроенные автоприглашения<br> вовлекают в диалог посетителей
					.chat-features__text
						p.
							Гибкие сценарии автоматических приглашений <br>посетителя в зависимости от времени нахождения на<br> сайте, просмотренных страниц, источника перехода
				.clear

			.chat-features__block
				.left
					h2 Простое приложение <br>оператора: все, что нужно<br> для эффективной<br> работы консультанта
					.chat-features__text
						p.
							Lorem ipsum dolor sit amet, consectetur <br>adipiscing elit. Aenean euismod bibendum laoreet. <br>Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					
				.right
					img(src="/img/chat/program.jpg", alt="")
					
				.clear

			.chat-features__block
				.left
					img(src="/img/chat/history.jpg", alt="")
					
				.right
					h2 История переписки<br> и понятные отчеты:<br> держите все под контролем!
					.chat-features__text
						p.
							Клиент может дать оценку консультации: сразу<br> видно, насколько качественно работают операторы.

						p.
							Простая панель администратора: история всех <br>диалогов, оценки, статистика, время в сети<br>
							Подключение одного оператора к нескольким сайтам: сократите расходы на консультантов
				.clear
		.line