.calls-more
	.calls-more__wrapp
		h2.calls-more__title И ещё множество полезных функций

		.calls-more__block
			.calls-more-spoiler.calls-more-spoiler--dialogs
				a(href="#" data-spoiler="calls-more-1").calls-more-spoiler__title.js-spoiler Быстрые фразы для оператора и перевод диалога
				.calls-more-spoiler__content(data-show-spoiler="calls-more-1")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--connection
				a(href="#" data-spoiler="calls-more-2").calls-more-spoiler__title.js-spoiler Подключение одного оператора к нескольким сайтам
				.calls-more-spoiler__content(data-show-spoiler="calls-more-2")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--analytics
				a(href="#" data-spoiler="calls-more-3").calls-more-spoiler__title.js-spoiler Отчёты по принятым и пропущенным диалогам
				.calls-more-spoiler__content(data-show-spoiler="calls-more-3")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler.calls-more-spoiler--music
				a(href="#" data-spoiler="calls-more-4").calls-more-spoiler__title.js-spoiler Звуковые уведомления при получении сообщения с сайта
				.calls-more-spoiler__content(data-show-spoiler="calls-more-4")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--ban
				a(href="#" data-spoiler="calls-more-5").calls-more-spoiler__title.js-spoiler Блокировка нежелательных посетителей
				.calls-more-spoiler__content(data-show-spoiler="calls-more-5")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--email
				a(href="#" data-spoiler="calls-more-6").calls-more-spoiler__title.js-spoiler Лидогенератор: сбор контактов посетителей
				.calls-more-spoiler__content(data-show-spoiler="calls-more-6")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--yey
				a(href="#" data-spoiler="calls-more-7").calls-more-spoiler__title.js-spoiler Наблюдение за тем, что печатает клиент
				.calls-more-spoiler__content(data-show-spoiler="calls-more-7")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--rating
				a(href="#" data-spoiler="calls-more-8").calls-more-spoiler__title.js-spoiler Оценка оператора клиентом
				.calls-more-spoiler__content(data-show-spoiler="calls-more-8")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line

			.calls-more-spoiler.calls-more-spoiler--crypt
				a(href="#" data-spoiler="calls-more-9").calls-more-spoiler__title.js-spoiler Защищенное соединение SSL
				.calls-more-spoiler__content(data-show-spoiler="calls-more-9")
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
					div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat reprehenderit, labore iusto, commodi, eligendi, optio quibusdam odio consequatur reiciendis dolorum voluptatem. Recusandae, eveniet aliquam quos quas voluptatem quia, tempora id.
				.line
		